In [1]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_squared_error
import numpy as np
from data_extraction.dummy_data_extractor import extract_dummy_data

In [2]:
master_table = extract_dummy_data("dummy_data")

C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\data_extraction\dummy_data_extractor.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2023-03-12 01:05:00+04:00' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")

In [3]:
master_table

,pointID,unit,dqType,dqStart,dqDuration,pointInterval,features,his
0,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,°C,Nulls,2023-03-12 01:05:00+04:00,1 days 11:10:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],...
1,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,°C,Nulls,2023-03-19 01:10:00+04:00,0 days 23:30:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...

In [9]:
df = master_table.at[1,"his"]

In [11]:
df

,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
ts,,
2023-03-14T21:10:00+04:00 Dubai,24.269638061523438°C,33.13%
2023-03-14T21:15:00+04:00 Dubai,24.269638061523438°C,33.13%
2023-03-14T21:20:00+04:00 Dubai,24.269638061523438°C,33.13%
2023-03-14T21:25:00+04:00 Dubai,24.269638061523438°C,33.13%
2023-03-14T21:30:00+04:00 Dubai,24.269638061523438°C,33.13%
...,...,...
2023-03-19T00:45:00+04:00 Dubai,22.633480072021484°C,29.43%
2023-03-19T00:50:00+04:00 Dubai,22.633480072021484°C,30.55%
2023-03-19T00:55:00+04:00 Dubai,22.633480072021484°C,30.51%
2023-03-19T01:00:00+04:00 Dubai,22.633480072021484°C,30.51%
2023-03-19T01:05:00+04:00 Dubai,22.633480072021484°C,30.51%

In [13]:
print(df.columns)

Index(['DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp', 'DMC Building 1 Data Quality Tests New-Point'], dtype='object')

In [15]:
df.reset_index(inplace=True)
df = df.dropna()

In [17]:
print(df.columns)

Index(['ts',
       'DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp',
       'DMC Building 1 Data Quality Tests New-Point'],
      dtype='object')

In [19]:
df.columns = ['ds', 'temp', 'new_point']

In [21]:
df

                                   ds                  temp new_point
0     2023-03-14T21:10:00+04:00 Dubai  24.269638061523438°C    33.13%
1     2023-03-14T21:15:00+04:00 Dubai  24.269638061523438°C    33.13%
2     2023-03-14T21:20:00+04:00 Dubai  24.269638061523438°C    33.13%
3     2023-03-14T21:25:00+04:00 Dubai  24.269638061523438°C    33.13%
4     2023-03-14T21:30:00+04:00 Dubai  24.269638061523438°C    33.13%
...                               ...                   ...       ...
1195  2023-03-19T00:45:00+04:00 Dubai  22.633480072021484°C    29.43%
1196  2023-03-19T00:50:00+04:00 Dubai  22.633480072021484°C    30.55%
1197  2023-03-19T00:55:00+04:00 Dubai  22.633480072021484°C    30.51%
1198  2023-03-19T01:00:00+04:00 Dubai  22.633480072021484°C    30.51%
1199  2023-03-19T01:05:00+04:00 Dubai  22.633480072021484°C    30.51%

[1197 rows x 3 columns]

In [23]:
# Remove ' Dubai' from the datetime strings
df['ds'] = df['ds'].str.replace(' Dubai', '', regex=False)

# Convert the 'ds' column to datetime format
df['ds'] = pd.to_datetime(df['ds'], format="%Y-%m-%dT%H:%M:%S%z")

# Print the DataFrame to check
print(df)

                            ds                  temp new_point
0    2023-03-14 21:10:00+04:00  24.269638061523438°C    33.13%
1    2023-03-14 21:15:00+04:00  24.269638061523438°C    33.13%
2    2023-03-14 21:20:00+04:00  24.269638061523438°C    33.13%
3    2023-03-14 21:25:00+04:00  24.269638061523438°C    33.13%
4    2023-03-14 21:30:00+04:00  24.269638061523438°C    33.13%
...                        ...                   ...       ...
1195 2023-03-19 00:45:00+04:00  22.633480072021484°C    29.43%
1196 2023-03-19 00:50:00+04:00  22.633480072021484°C    30.55%
1197 2023-03-19 00:55:00+04:00  22.633480072021484°C    30.51%
1198 2023-03-19 01:00:00+04:00  22.633480072021484°C    30.51%
1199 2023-03-19 01:05:00+04:00  22.633480072021484°C    30.51%

[1197 rows x 3 columns]

C:\Users\syounas\AppData\Local\Temp\ipykernel_352\304330887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ds'] = df['ds'].str.replace(' Dubai', '', regex=False)
C:\Users\syounas\AppData\Local\Temp\ipykernel_352\304330887.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ds'] = pd.to_datetime(df['ds'], format="%Y-%m-%dT%H:%M:%S%z")

In [1]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_squared_error
import numpy as np
from data_extraction.dummy_data_extractor import extract_dummy_data

# Assuming 'extract_dummy_data' function extracts data into 'master_table'
master_table = extract_dummy_data("dummy_data")

# Extract the relevant dataframe from 'master_table'
df = master_table.at[1, "his"]

# Reset index and drop NA values
df.reset_index(inplace=True)
df = df.dropna()

# Rename columns for consistency
df.columns = ['ds', 'temp', 'new_point']

# Remove ' Dubai' from the datetime strings
df['ds'] = df['ds'].str.replace(' Dubai', '', regex=False)

# Convert the 'ds' column to datetime format
df['ds'] = pd.to_datetime(df['ds'], format="%Y-%m-%dT%H:%M:%S%z")

# Extract numeric temperature values
df['temp'] = df['temp'].str.extract('(\d+\.\d+)').astype(float)

# Print the DataFrame to check
print(df)

# Split data into train and test sets
train_size = int(len(df) * 0.8)  # 80% for training
train_df = df.iloc[:train_size]
test_df = df.iloc[train_size:]

# Prepare the dataframe with required column names for Prophet
train_df_prophet = train_df[['ds', 'temp']].copy()
train_df_prophet.rename(columns={'temp': 'y'}, inplace=True)  # Rename 'temp' to 'y'

# Initialize Prophet model
model = Prophet()

# Fit the model with training data
model.fit(train_df_prophet)

# Make future predictions for the test set
future = model.make_future_dataframe(periods=len(test_df), freq='H')
forecast = model.predict(future)

# Calculate RMSE (Root Mean Squared Error)
y_true = test_df['temp'].values
y_pred = forecast['yhat'].values[-len(test_df):]
rmse = np.sqrt(mean_squared_error(y_true, y_pred))
print(f"RMSE: {rmse}")

# Save test set to CSV
test_df.to_csv(r'C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\Data\test.csv', index=False)

C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\data_extraction\dummy_data_extractor.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2023-03-12 01:05:00+04:00' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")
C:\Users\syounas\AppData\Local\Temp\ipykernel_19424\4232964390.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ds'] = df['ds'].str.replace(' Dubai', '', regex=False)
C:\Users\syounas\AppData\Local\Temp\ipykernel_19424\4232964390.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ds'] = pd.to_datetime(df['ds'], format="%Y-%m-%dT%H:%M:%S%z")
C:\Users\syounas\AppData\Local\Temp\ipykernel_19424\4232964390.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp'] = df['temp'].str.extract('(\d+\.\d+)').astype(float)

                            ds       temp new_point
0    2023-03-14 21:10:00+04:00  24.269638    33.13%
1    2023-03-14 21:15:00+04:00  24.269638    33.13%
2    2023-03-14 21:20:00+04:00  24.269638    33.13%
3    2023-03-14 21:25:00+04:00  24.269638    33.13%
4    2023-03-14 21:30:00+04:00  24.269638    33.13%
...                        ...        ...       ...
1195 2023-03-19 00:45:00+04:00  22.633480    29.43%
1196 2023-03-19 00:50:00+04:00  22.633480    30.55%
1197 2023-03-19 00:55:00+04:00  22.633480    30.51%
1198 2023-03-19 01:00:00+04:00  22.633480    30.51%
1199 2023-03-19 01:05:00+04:00  22.633480    30.51%

[1197 rows x 3 columns]

ValueError: Column ds has timezone specified, which is not supported. Remove timezone.