In [2]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_squared_error
import numpy as np
from data_extraction.dummy_data_extractor import extract_dummy_data

In [4]:
master_table = extract_dummy_data("dummy_data")

C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\data_extraction\dummy_data_extractor.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2023-03-12 01:05:00+04:00' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")

In [6]:
master_table

,pointID,unit,dqType,dqStart,dqDuration,pointInterval,features,his
0,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,°C,Nulls,2023-03-12 01:05:00+04:00,1 days 11:10:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...
1,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,°C,Nulls,2023-03-19 01:10:00+04:00,0 days 23:30:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...

In [8]:
df = master_table.at[0,"his"]

In [24]:
print(df.columns)

Index(['DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp', 'DMC Building 1 Data Quality Tests New-Point'], dtype='object')

In [12]:
file_path = r'C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\Data\dc.csv'

# Save the DataFrame to the specified file path
df.to_csv(file_path, index=True)

In [14]:
df.reset_index()
df = df.dropna()

In [16]:
df

,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
ts,,
2023-03-07T21:05:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:10:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:15:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:20:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:25:00+04:00 Dubai,23.522281646728516°C,34.59%
...,...,...
2023-03-12T00:40:00+04:00 Dubai,24.119338989257812°C,31.96%
2023-03-12T00:45:00+04:00 Dubai,24.119338989257812°C,33.18%
2023-03-12T00:50:00+04:00 Dubai,24.119338989257812°C,35.32%
2023-03-12T00:55:00+04:00 Dubai,24.119338989257812°C,33.51%
2023-03-12T01:00:00+04:00 Dubai,24.119338989257812°C,33.51%

In [22]:
df.columns = ['ts', 'temp', 'new_point']

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [20]:
df

,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
ts,,
2023-03-07T21:05:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:10:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:15:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:20:00+04:00 Dubai,23.522281646728516°C,34.59%
2023-03-07T21:25:00+04:00 Dubai,23.522281646728516°C,34.59%
...,...,...
2023-03-12T00:40:00+04:00 Dubai,24.119338989257812°C,31.96%
2023-03-12T00:45:00+04:00 Dubai,24.119338989257812°C,33.18%
2023-03-12T00:50:00+04:00 Dubai,24.119338989257812°C,35.32%
2023-03-12T00:55:00+04:00 Dubai,24.119338989257812°C,33.51%
2023-03-12T01:00:00+04:00 Dubai,24.119338989257812°C,33.51%

In [47]:
file_path = r'C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\Data\dfA.csv'

# Save the DataFrame to the specified file path
df.to_csv(file_path, index=True)