In [1]:
from project.models.polynomialRegression import polynomial_regression
from project.data_extraction.dummy_data_extractor import extract_dummy_data
master_table = extract_dummy_data(r"C:\Users\carabbat\OneDrive - Enova Facilities Management\Documents\Hubgrade\Skyspark\Data Imputation\HubgradeDataCleaning\project\dummy_data")
master_table = master_table.at[0,"his"]
df = master_table.set_index(["ts"])
length_of_missing_data = 1
data_logging_interval = 1
dqStart = '2023-03-10 01:05:00+0400'

polynomial_regression(df, length_of_missing_data, data_logging_interval, dqStart)

c:\Users\carabbat\OneDrive - Enova Facilities Management\Documents\Hubgrade\Skyspark\Data Imputation\HubgradeDataCleaning\project\data_extraction\dummy_data_extractor.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2023-03-12 01:05:00+04:00' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")

                              y_pred
ts
2023-03-10 01:05:00+04:00  23.166546
2023-03-10 01:10:00+04:00  23.166546
2023-03-10 01:15:00+04:00  23.166546
2023-03-10 01:20:00+04:00  23.166546
2023-03-10 01:25:00+04:00  23.166546
...                              ...
2023-03-12 00:40:00+04:00  22.934544
2023-03-12 00:45:00+04:00  23.002886
2023-03-12 00:50:00+04:00  23.144585
2023-03-12 00:55:00+04:00  23.022804
2023-03-12 01:00:00+04:00  23.022804

[576 rows x 1 columns]