In [1]:
from project.data_extraction.dummy_data_extractor import extract_dummy_data

In [3]:
master_table = extract_dummy_data(r"C:\Users\abbayoumi\OneDrive - Enova Facilities Management\Desktop\REPOs\main\HubgradeDataCleaning\project\dummy_data")

In [4]:
master_table

,pointID,unit,dqType,dqStart,dqDuration,pointInterval,features,his
0,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,째C,Nulls,2023-03-12 01:05:00+04:00,1 days 11:10:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...
1,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,째C,Nulls,2023-03-19 01:10:00+04:00,0 days 23:30:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...