In [1]:
import pandas as pd
from data_extraction.dummy_data_extractor import extract_dummy_data

from statsforecast import StatsForecast
from statsforecast.models import (
    # HoltWinters,
    # CrostonClassic as Croston, 
    # HistoricAverage,
    DynamicOptimizedTheta as DOT,
    SeasonalNaive,
    # AutoARIMA
)

c:\Users\abbayoumi\AppData\Local\anaconda3\envs\env_full\lib\site-packages\statsforecast\core.py:26: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
master_table = extract_dummy_data("dummy_data")

### Models

In [3]:
#### SEASONAL NAIVE

def seasonal_naive(df, length_of_missing_data, data_logging_interval):
    """
    Inputs
    df: df used for training set (from SS)
    length_of_missing_data: interval length of missing data (from SS)
    data_logging_interval: data logging interval - called from the hisDQInterval tag on the point (from SS)

    Output
    forecasts_df: dataframe with predictions for the period missing data. Index names as ts, values column named as "v0
    """
    
    # step 1 convert the grid to a dataframe, and set first column as index
    #df = df.to_dataframe()
    #df.set_index(df.columns[0], inplace=True, drop=True)

    # rename the first column as "target"
    new_column_name = "target"
    df = df.rename(columns={df.columns[0]: new_column_name})

    # number of predictions
    horizon = int(length_of_missing_data/data_logging_interval)
    
    # season length
    season_length = int(pd.Timedelta(24, 'h') / data_logging_interval)      

    # frequency
    #freq = str(data_logging_interval.total_seconds()/3600)+"h"

    # The Model
    model = SeasonalNaive(season_length=season_length)
        
    # Model fitting
    model = model.fit(y=df["target"])
    
    # Predictions
    forecasts_df = model.predict(h=horizon)
    forecasts_df = pd.DataFrame(forecasts_df)

    forecasts_df = forecasts_df.rename(columns={forecasts_df.columns[0]: "predictions"})

    return forecasts_df#.reset_index()

In [4]:
master_table.at[0, "his"]

,ts,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
0,2023-03-07T21:05:00+04:00 Dubai,23.522281646728516,34.58906555175781
1,2023-03-07T21:10:00+04:00 Dubai,23.522281646728516,34.58906555175781
2,2023-03-07T21:15:00+04:00 Dubai,23.522281646728516,34.58906555175781
3,2023-03-07T21:20:00+04:00 Dubai,23.522281646728516,34.58906555175781
4,2023-03-07T21:25:00+04:00 Dubai,23.522281646728516,34.58906555175781
...,...,...,...
1195,2023-03-12T00:40:00+04:00 Dubai,24.119338989257812,31.959213256835938
1196,2023-03-12T00:45:00+04:00 Dubai,24.119338989257812,33.179718017578125
1197,2023-03-12T00:50:00+04:00 Dubai,24.119338989257812,35.324806213378906
1198,2023-03-12T00:55:00+04:00 Dubai,24.119338989257812,33.5062370300293
1199,2023-03-12T01:00:00+04:00 Dubai,24.119338989257812,33.5062370300293

In [5]:
master_table

for i, row in master_table.iterrows():
    # run models
    # extract RMSE
    print(i, row["his"])

0                                    ts  \
0     2023-03-07T21:05:00+04:00 Dubai
1     2023-03-07T21:10:00+04:00 Dubai
2     2023-03-07T21:15:00+04:00 Dubai
3     2023-03-07T21:20:00+04:00 Dubai
4     2023-03-07T21:25:00+04:00 Dubai
...                               ...
1195  2023-03-12T00:40:00+04:00 Dubai
1196  2023-03-12T00:45:00+04:00 Dubai
1197  2023-03-12T00:50:00+04:00 Dubai
1198  2023-03-12T00:55:00+04:00 Dubai
1199  2023-03-12T01:00:00+04:00 Dubai

     DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp  \
0                                    23.522281646728516
1                                    23.522281646728516
2                                    23.522281646728516
3                                    23.522281646728516
4                                    23.522281646728516
...                                                 ...
1195                                 24.119338989257812
1196                                 24.119338989257812
1197                                 24.119338989257812
1198                                 24.119338989257812
1199                                 24.119338989257812

     DMC Building 1 Data Quality Tests New-Point
0                              34.58906555175781
1                              34.58906555175781
2                              34.58906555175781
3                              34.58906555175781
4                              34.58906555175781
...                                          ...
1195                          31.959213256835938
1196                          33.179718017578125
1197                          35.324806213378906
1198                            33.5062370300293
1199                            33.5062370300293

[1200 rows x 3 columns]
1                                    ts  \
0     2023-03-14T21:10:00+04:00 Dubai
1     2023-03-14T21:15:00+04:00 Dubai
2     2023-03-14T21:20:00+04:00 Dubai
3     2023-03-14T21:25:00+04:00 Dubai
4     2023-03-14T21:30:00+04:00 Dubai
...                               ...
1195  2023-03-19T00:45:00+04:00 Dubai
1196  2023-03-19T00:50:00+04:00 Dubai
1197  2023-03-19T00:55:00+04:00 Dubai
1198  2023-03-19T01:00:00+04:00 Dubai
1199  2023-03-19T01:05:00+04:00 Dubai

     DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp  \
0                                    24.269638061523438
1                                    24.269638061523438
2                                    24.269638061523438
3                                    24.269638061523438
4                                    24.269638061523438
...                                                 ...
1195                                 22.633480072021484
1196                                 22.633480072021484
1197                                 22.633480072021484
1198                                 22.633480072021484
1199                                 22.633480072021484

     DMC Building 1 Data Quality Tests New-Point
0                              33.13233184814453
1                              33.13233184814453
2                              33.13233184814453
3                              33.13233184814453
4                              33.13233184814453
...                                          ...
1195                          29.431869506835938
1196                          30.548755645751953
1197                          30.514156341552734
1198                          30.514156341552734
1199                          30.514156341552734

[1200 rows x 3 columns]

In [6]:
def ensemble_model(pythonData):
    """
    Function to run all models, and return the one with lowest RMSE.
    
    """

    # dictionary to save predictions for each point
    scores_df_dict = {
    "pointID": [],
    "predictions": [],
    "rmse": [],
    "modelName": []
    }

    # Create a DataFrame from the dictionary
    scores_df = pd.DataFrame(scores_df_dict)

    for i, row in pythonData.iterrows():
        pointID = row["pointID"]
        df = row["his"].to_dataframe()
        df.set_index(df.columns[0], inplace=True, drop=True)
        length_of_missing_data = row["dqDuration"]
        data_logging_interval = row["pointInterval"]

        # number of predictions
        horizon = int(length_of_missing_data/data_logging_interval)

        # training set size (relative to the horizon/prediction size)
        training_set_size = horizon * 10
        #training_set_size = int(228)                                         ################## REMOVE THIS
        
        # training / testing set to evaluate the model (relative to horizon of prediction)
        train_data = df.iloc[-1*int(training_set_size):]#.reset_index(drop=True)
        test_data = df.iloc[:-1*int(training_set_size)]#.reset_index(drop=True)


        seasonal_naive_predictions = seasonal_naive(train_data, length_of_missing_data, data_logging_interval)
        model_name = "Seasonal Naive"
        
        #rmse_score = mean_squared_error(test_data[test_data.columns[0]].to_numpy(), seasonalNaivePredictions[seasonalNaivePredictions.columns[0]].to_numpy(), squared=False)

        # append data to the scored DF
        row_to_append = {'pointID': pointID, 'predictions': seasonal_naive_predictions, "rmse": "", "modelName": model_name}
        scores_df = pd.concat([scores_df, pd.DataFrame([row_to_append])], ignore_index=True)

        
    return scores_df

In [7]:
master_table.at[0, "his"]

,ts,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
0,2023-03-07T21:05:00+04:00 Dubai,23.522281646728516,34.58906555175781
1,2023-03-07T21:10:00+04:00 Dubai,23.522281646728516,34.58906555175781
2,2023-03-07T21:15:00+04:00 Dubai,23.522281646728516,34.58906555175781
3,2023-03-07T21:20:00+04:00 Dubai,23.522281646728516,34.58906555175781
4,2023-03-07T21:25:00+04:00 Dubai,23.522281646728516,34.58906555175781
...,...,...,...
1195,2023-03-12T00:40:00+04:00 Dubai,24.119338989257812,31.959213256835938
1196,2023-03-12T00:45:00+04:00 Dubai,24.119338989257812,33.179718017578125
1197,2023-03-12T00:50:00+04:00 Dubai,24.119338989257812,35.324806213378906
1198,2023-03-12T00:55:00+04:00 Dubai,24.119338989257812,33.5062370300293
1199,2023-03-12T01:00:00+04:00 Dubai,24.119338989257812,33.5062370300293

In [10]:
train_data

,DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp,DMC Building 1 Data Quality Tests New-Point
ts,,
2023-03-07T21:05:00+04:00 Dubai,23.522281646728516°C,34.58906555175781%
2023-03-07T21:10:00+04:00 Dubai,23.522281646728516°C,34.58906555175781%
2023-03-07T21:15:00+04:00 Dubai,23.522281646728516°C,34.58906555175781%
2023-03-07T21:20:00+04:00 Dubai,23.522281646728516°C,34.58906555175781%
2023-03-07T21:25:00+04:00 Dubai,23.522281646728516°C,34.58906555175781%
...,...,...
2023-03-12T00:40:00+04:00 Dubai,24.119338989257812°C,31.959213256835938%
2023-03-12T00:45:00+04:00 Dubai,24.119338989257812°C,33.179718017578125%
2023-03-12T00:50:00+04:00 Dubai,24.119338989257812°C,35.324806213378906%
2023-03-12T00:55:00+04:00 Dubai,24.119338989257812°C,33.5062370300293%
2023-03-12T01:00:00+04:00 Dubai,24.119338989257812°C,33.5062370300293%

In [ ]:
seasonal_naive(train_data, length_of_missing_data, data_logging_interval)

In [11]:
master_table.at[0, "his"].dtypes

DMC Building 1 Data Quality Tests Dup of AHU_04_B1 Return Air Temp    object
DMC Building 1 Data Quality Tests New-Point                           object
dtype: object

In [8]:

# dictionary to save predictions for each point
scores_df_dict = {
"pointID": [],
"predictions": [],
"rmse": [],
"modelName": []
}

# Create a DataFrame from the dictionary
scores_df = pd.DataFrame(scores_df_dict)

for i, row in master_table.iterrows():
    pointID = row["pointID"]
    df = row["his"]#.to_dataframe()
    df.set_index(df.columns[0], inplace=True, drop=True)
    length_of_missing_data = row["dqDuration"]
    data_logging_interval = row["pointInterval"]

    # number of predictions
    horizon = int(length_of_missing_data/data_logging_interval)

    # training set size (relative to the horizon/prediction size)
    training_set_size = horizon * 10
    #training_set_size = int(228)                                         ################## REMOVE THIS
    
    # training / testing set to evaluate the model (relative to horizon of prediction)
    train_data = df.iloc[-1*int(training_set_size):]#.reset_index(drop=True)
    test_data = df.iloc[:-1*int(training_set_size)]#.reset_index(drop=True)

    seasonal_naive_predictions = seasonal_naive(train_data, length_of_missing_data, data_logging_interval)
    model_name = "Seasonal Naive"
    
    #rmse_score = mean_squared_error(test_data[test_data.columns[0]].to_numpy(), seasonalNaivePredictions[seasonalNaivePredictions.columns[0]].to_numpy(), squared=False)

    # append data to the scored DF
    row_to_append = {'pointID': pointID, 'predictions': seasonal_naive_predictions, "rmse": "", "modelName": model_name}
    scores_df = pd.concat([scores_df, pd.DataFrame([row_to_append])], ignore_index=True)

TypeError: unsupported operand type(s) for -: 'str' and 'float'