In [6]:
import pandas as pd

In [7]:
path="dummy_data"

In [8]:
df = pd.read_csv(path+"/masterTable1_.csv")
df_data1 = pd.read_csv(path+"/masterTable1_data_1.csv", index_col=[0], date_format="%Y-%m-%dT%H:%M:%S%z Dubai").reset_index()  
# df_data2 = pd.read_csv(path+"/masterTable1_data_2.csv", index_col=[0], date_format="%Y-%m-%dT%H:%M:%S%z Dubai").reset_index()
df_data = pd.DataFrame({"data":[df_data1] })  
df.loc[:, "data"] = df_data

In [9]:

pythonDF = pd.DataFrame()
# loop over the ssData and extract the data from each row
for i in range(len(df)):
    pythonDF.loc[i, 'pointID'] = df['id'].iloc[i]
    pythonDF.loc[i, 'unit'] = df["unit"].iloc[i]
    pythonDF.loc[i, 'dqType'] = df["dqType"].iloc[i]
    pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")
    pythonDF.loc[i, 'dqDuration'] = pd.Timedelta(df['dur'].iloc[i])
    pythonDF.loc[i, 'pointInterval'] =  pd.Timedelta(df["freq"].iloc[i])
    pythonDF.loc[i, 'features'] =  df['featId'].iloc[i]

pythonDF.loc[:, 'his'] =  df['data']

In [10]:
pythonDF['his'].iloc[0]

,Timestamp,val,discharge_Chilled_Water_Cool_Valve_Cmd_AHU_01_B1_Copy
0,2023-06-26 05:55:00+04:00,23.18189811706543°C,30.231903076171875%
1,2023-06-26 06:00:00+04:00,23.18189811706543°C,30.231903076171875%
2,2023-06-26 06:05:00+04:00,23.18189811706543°C,42.7702751159668%
3,2023-06-26 06:10:00+04:00,23.18189811706543°C,42.7702751159668%
4,2023-06-26 06:15:00+04:00,23.18189811706543°C,42.7702751159668%
...,...,...,...
1580,2023-07-01 17:35:00+04:00,24.814654263583098°C,52.803531646728516%
1581,2023-07-01 17:40:00+04:00,24.811655622540098°C,52.803531646728516%
1582,2023-07-01 17:45:00+04:00,24.8086569814971°C,52.803531646728516%
1583,2023-07-01 17:50:00+04:00,24.8056583404541°C,52.803531646728516%
1584,2023-07-01 17:55:00+04:00,24.8056583404541°C,52.803531646728516%

In [17]:

###
for i in range(len(pythonDF['his'])):
    for col in pythonDF["his"].iloc[i].columns[1:]:
        pythonDF["his"].iloc[i][col] = pythonDF["his"].iloc[i][col].astype(str).str.replace(r'[^\d.]', '', regex=True)   ## \d => all digits   ///  .  => dots    /////  [^  ]  => keep charachters that are mentioned in the brackets
        pythonDF["his"].iloc[i][col] = pythonDF["his"].iloc[i][col].replace('', 'NaN').astype(float)

AttributeError: 'float' object has no attribute 'columns'

In [ ]:
pythonDF["his"].iloc[1]#.dtypes

NameError: name 'pythonDF' is not defined