In [39]:
import pandas as pd
from data_extraction.dummy_data_extractor import extract_dummy_data
from sklearn.metrics import mean_squared_error

C:\Users\syounas\OneDrive - Enova Facilities Management\Tasks\GitHub\HubgradeDataCleaning\Sana\data_extraction\dummy_data_extractor.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2023-03-12 01:05:00+04:00' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  pythonDF.loc[i, 'dqStart'] = pd.to_datetime(df['ts'].iloc[i], format="%Y-%m-%dT%H:%M:%S%z Dubai")

,pointID,unit,dqType,dqStart,dqDuration,pointInterval,features,his
0,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,째C,Nulls,2023-03-12 01:05:00+04:00,1 days 11:10:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],...
1,@p:dmc_All:r:2ddf07d5-ef59ca94 DMC Building 1 ...,째C,Nulls,2023-03-19 01:10:00+04:00,0 days 23:30:00,0 days 00:05:00,[p:dmc_All:r:2de337c0-72b69972],DMC Building 1...

In [41]:
master_table = extract_dummy_data("dummy_data")
master_table

# Testing variables
df.reset_index(inplace=True)
df = df.dropna()

row = master_table.iloc[0]
df = row["his"]

df.reset_index(inplace=True)

length_of_missing_data = row["dqDuration"]
data_logging_interval = row["pointInterval"]
dqStart	= row['dqStart']
dqDuration = row['dqDuration']

In [45]:
print(df.columns)

Index(['ts', 'temp'], dtype='object')